:root {
    width: 1px;
}

html,
body {
    background-color: #0A2463;
    margin: 0;
    padding: 0;
    align-items: center;
    /* min-width: 900px; */
    text-align: center;
    max-width: 90px;
}

#top {
    background-image: url(./main\ page\ first\ image.avif);
    width: 100vw;
    height: 85vh;
    margin: 0px;
    padding: 0;
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    align-items: center;
    /* padding-left: 200px; */
    border-bottom: 11px solid #84714F;
}

h1 {
    color: white;
    margin: 0;
    text-align: center;
    /* padding-top: 260px; */
    font-family: BebasNeue-Regular;
    font-size: 5rem;
    text-shadow: 7px 3px 2px rgba(132, 113, 79, 0.82);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

.main-span {
    padding-left: 290px;
}

.main-div-two {
    border: 10px solid grey;
    padding: 22px;
}

.navigation-table {
    background-color: #E5DCC5;
    height: 10vh;
    width: 100vw;
    border: 4px solid black;
    border-spacing: 50px;
    border-right: 0;
    margin-right: 0;
}

td {
    /* padding: 10px */
}

a {
    text-decoration: none;
    color: #70161E;
    font: EduSABeginner;
    font-size: 2rem;
}

@font-face {
    font-family: EduSABeginner;
    src: url(./fonts/EduSABeginner-VariableFont_wght.ttf)
}

#About-Me {
    background-color: #E5DCC5;
    margin: 5px;
    border: 4px solid black;
    width: 90vw;
    height: 20vh;
    margin-bottom: 0;
    margin-left: 50px;
}